# El presente archivo evita que documentos específicos inecesarios para el correcto funcionamiento del repositorio sean añadidos

# macOS system files
.DS_Store

# Node modules
node_modules/

# Python bytecode
__pycache__/
*.py[cod]

# Logs
logs/
*.log

# Environment files
.env

# Virtual environment
venv/

